@font-face {
    font-family: 'Avenir-regular';
    font-display: auto;
    src: url('../fonts/AvenirNextLTPro-Regular_0.woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-bold';
    font-display: auto;
    src: url('../fonts/AvenirNextLTPro-Bold_0.woff2');
}
@font-face {
    font-family: 'Avenir-italic';
    font-display: auto;
    src: url('../fonts/AvenirNextLTPro-It.woff2');
}